<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePatch" value="Path to folder with your text files"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="Sender email"/>
    <add key="senderDisplayName" value="Your name or name of this tournament"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournament" connectionString="Server=Name of your server;Database=Tournament;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Your email">
        <network host="stmp address of your email server" userName="login to your email" password="password to your email" port="587" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>